html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    box-sizing: border-box;

}

.container {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

p {
    margin: 0;
    padding: 0;
}

.fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    background-color: white;
    /* border-bottom: 1px solid #ddd; */
    /* Tạo đường viền nếu cần */
}

/* Văn bản ban đầu ẩn bên ngoài màn hình */
.animated-text {
    position: absolute;
    font-size: 20px;
}

/* ---------------section-header1--------------- */
#section-header1 {
    max-width: 100%;
    height: 58px;
    background: linear-gradient(to right, #4f3131, #15283e);
}

#section-header1 .top-left {
    float: left;
    margin: 18px 12px 0 200px;
}

#section-header1 .top-left p {
    color: white;
    font-weight: bold;
}

#section-header1 .top-right {
    float: right;
    margin-top: 18px;
    margin-right: 200px;
}

#section-header1 .top-right a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    /* Thêm hiệu ứng khi hover */
}

#section-header1 .top-right a:hover {
    color: #d1d1d1
}

/* ---------------section-header2------------------ */
#section-header2 {
    height: 105px;
    background-color: rgb(247, 238, 238);
    border-top: 1px solid #ccc;
    /* Thêm màu vào border-top */

}

#section-header2 .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 215px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

#section-header2 .menu .logo {
    display: flex;
    align-items: center;

}

#section-header2 .logo img {
    height: 79px;
    width: 148px;
    cursor: pointer;

}

#section-header2 .search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 20px;
}

#section-header2 .search-bar input {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    /* Đảm bảo thanh tìm kiếm luôn vừa kích thước màn hình nhỏ */
    height: 25px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}




#section-header2 .search-bar button {
    padding: 10px 20px;
    font-size: 14px;
    background: linear-gradient(to right, #4f3131, #15283e);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}

#section-header2 .search-bar button:hover {
    background: linear-gradient(to right, #a10a0a, #06080a);
}

#section-header2 .info .hotline {
    display: flex;
    flex-direction: column;
    color: #003366;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 10px;
}

#section-header2 .info .hotline .hotline-text {
    font-size: 19px;
    margin-left: 7px;
}

#section-header2 .info .hotline a {
    margin-left: 10px;
    padding: 5px 0;
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-size: 22px;
}

#section-header2 .cart {
    display: flex;
    align-items: center;
    margin-left: 55px;
    position: relative;
    margin-top: 10px;
}


.cart-wrapper {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
}

.cart-wrapper:hover {
    transform: scale(1.2);
}

.cart-count {
    position: absolute;
    top: -8px;
    right: 36px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 50%;
    display: inline-block;
}

#section-header2 .cart a {
    width: auto;
    /* Đặt chiều rộng cố định */
    height: 50px;
    /* Đặt chiều cao cố định */
    display: inline-block;
    overflow: hidden;
    /* Đảm bảo không có phần tử nào tràn ra ngoài */
    transition: transform 0.3s ease;
    /* Tạo hiệu ứng mượt */
    font-size: 40px;
    color: #003366;
    margin-left: 2%;
    cursor: pointer;
}

/* Small screen (mobile phones) */
@media (max-width: 768px) {
    #section-header2 {
        height: auto;
        /* Tự điều chỉnh chiều cao */
    }

    #section-header2 .menu {
        flex-direction: column;
        /* Chuyển sang cột dọc */
        align-items: flex-start;
        padding: 12px;
        width: auto;
    }

    #section-header2 .logo img {
        height: 60px;
        /* Thu nhỏ logo */
        width: auto;
    }

    #section-header2 .search-bar {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        justify-content: flex-start;
    }

    #section-header2 .search-bar input {

        width: 250px;
        /* Giảm chiều rộng thanh tìm kiếm */
    }

    #section-header2 .search-bar button {
        padding: 10px;
        font-size: 12px;
    }

    #section-header2 .info .hotline {
        font-size: 14px;

    }

    #section-header2 .cart {
        margin-left: 0;
    }

    .cart-wrapper {
        transform: scale(1);
        /* Hủy hiệu ứng phóng to */
    }

    .cart-count {
        top: -5px;
        right: 20px;
    }
}


/* --------------------section-nav------------------ */
#section-nav {
    height: 64px;
    background: linear-gradient(to right, #4f3131, #15283e);
    display: flex;
    align-items: center;
}

#section-nav ul.navbar-center {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}


/* Menu chung */
#section-nav ul.navbar-center>li.propClone {
    padding: 22px 20px;
    color: #f2f2f2;
    cursor: pointer;
    float: left;
    margin: 0 10px;
    transition: background-color 0.2s ease;
    transition: transform 0.3s ease;
    /* Tạo hiệu ứng mượt */

}

#section-nav ul.navbar-center>li.propClone:hover {
    background: linear-gradient(to right, #891f1f, #15283e);
    box-shadow: 0 0 0 1px #c0c0c0 inset;
    border-radius: 5px 5px 0 0;
    transform: scale(0.97);
    /* thu nhỏ */
}

/* mục chứa thẻ <a> */
#section-nav ul.navbar-center li a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}


/* mục k chứa thẻ a */
#section-nav ul.navbar-center li span.none-a {
    font-weight: bold;
    color: #f2f2f2;
    display: inline-flex;
    align-items: center;
}

/*Thư mục con */
#section-nav ul.navbar-center li ul.items {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    list-style: none;
    margin-left: -20px;
    margin-top: 23px;
}

#section-nav ul.navbar-center li:hover ul.items {
    display: block;
    padding: 0;
    border-radius: 0 5px 5px 5px;
    z-index: 10;
}

#section-nav ul.navbar-center li ul.items li {
    color: black;
    font-size: 16px;
    font-weight: bold;
    float: none;
    width: 257px;
    height: 40px;
    border-bottom: solid 1px gray;
    padding-top: 25px;
    border-radius: 0px 5px 0px 0px;
}

#section-nav ul.navbar-center li ul.items li a {
    color: #000000;
}

#section-nav ul.navbar-center li ul.items li:hover {
    background: linear-gradient(to right, #891f1f, #15283e);
}

#section-nav ul.navbar-center li ul.items li:hover a {
    color: #ffffff;
}


/*----------------------------------- Content --------------------------------*/
#section-content{
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
    padding-top: 15px;
}
.account-info-page {
    max-width: 1020px;
    width: 100%;
    margin: 20px;
    padding: 35px;
    background: linear-gradient(to right, #891f1f, #15283e);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
}

.account-info-page h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #f1f1f1;
    font-weight: bold;
}

.greeting {
    margin-bottom: 20px;
    color: #f1f1f1;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.recent-orders, .customer-info {
    width: 100%;
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.recent-orders {
    width: 65%;
}

.customer-info {
    width: 35%;
}

.recent-orders h2, .customer-info h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #ddd;
    
}

thead th{
    background: linear-gradient(to right, #891f1f, #15283e);
    color: #f1f1f1;
    font-weight: bold;

}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
}

tbody td {
    text-align: center;
    color: #000000;
}

.customer-info p {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    margin-bottom: 8px;
}

.customer-info p strong {
    margin-right: 8px;
    color: #15283e;
}
.customer-info button{
    padding: 5px;
    color: #06080a;
    border-radius: 5px;
}
.customer-info button:hover{
    background: linear-gradient(to right, #891f1f, #15283e);
    color: #ffffff;
}
/* Đảm bảo layout linh hoạt trên các thiết bị nhỏ hơn */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .recent-orders,
    .customer-info {
        width: 95%;
        margin-bottom: 15px;
    }

    .account-info-page {
        margin-left: 0;
        padding: 0;
        width:100%;
    }
}

/* Tinh chỉnh cho các thiết bị rất nhỏ như điện thoại */
@media (max-width: 480px) {
    .account-info-page h1 {
        font-size: 1.5em;
    }

    .recent-orders h2, .customer-info h2 {
        font-size: 1.2em;
    }

    th, td {
        font-size: 0.9em;
    }
}


/* -------------------section footer---------------------- */
#section-footer {
    max-height: 500px;
    padding: 40px 0;
    background: linear-gradient(to right, #4f3131, #15283e);
    color: #d1d1d1;
    font-family: 'Roboto', sans-serif;
}

#section-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    /*cho các ptu xuong dong khi màn hình thu nhỏ */
}

#section-footer p,
#section-footer a,
#section-footer h3 {
    margin: 0;
    padding: 0;
    color: #d1d1d1;
}

#section-footer h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}

#section-footer ul {
    list-style: none;
    padding: 0;
}

#section-footer ul li {
    margin-bottom: 10px;
}

#section-footer ul li a {
    text-decoration: none;
    color: #d1d1d1;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

#section-footer ul li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#section-footer .social-media ul {
    display: flex;
}

#section-footer .social-media ul li {
    margin-right: 15px;
    font-size: 22px;
}

#section-footer .social-media ul li a {
    display: block;
    transition: transform 0.3s ease, color 0.3s ease;
}

#section-footer .social-media ul li a:hover {
    transform: scale(1.2);
    color: #ffffff;
}

#section-footer .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #d1d1d1;
    padding-top: 20px;
    color: #cccccc;
    letter-spacing: 1px;
}

/* Thêm hiệu ứng cho các biểu tượng social media */
#section-footer .social-media ul li a i {
    color: #d1d1d1;
    transition: color 0.3s ease;
}

#section-footer .social-media ul li a i:hover {
    color: #ffffff;
}

/* Chỉnh layout cho màn hình nhỏ */
@media (max-width: 768px) {
    #section-footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #section-footer .contact-info,
    #section-footer .links,
    #section-footer .social-media,
    #section-footer .copyright {
        margin-bottom: 20px;
    }

    #section-footer .social-media ul {
        justify-content: center;
    }
}

/* Chỉnh layout cho màn hình rất nhỏ */
@media (max-width: 480px) {
    #section-footer h3 {
        font-size: 16px;
    }
}

.fa-phone {
    bottom: 50px;
    right: 8px;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 99;
    font-size: 40px;

}

.fa-instagram {
    bottom: 103px;
    right: 10px;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 99;
    font-size: 50px;

}

#fb li {
    bottom: 160px;
    right: 10px;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 99;
    font-size: 50px;
}

/* Tùy chỉnh cho phần popup */
/* Định dạng tổng quan cho popup */
body.no-scroll {
    overflow: hidden;
    /* Ngừng cuộn trang khi banner hiện */
}

.popup-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    /* Mờ nền để làm nổi bật nội dung */
    z-index: 1000;
}

.popup-content {
    position: relative;
    width: 90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0);
    /* Nền bán trong suốt để làm nổi bật chữ */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;


}

.banner-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị biến dạng */

}

.banner-title {

    width: 370px;
    position: absolute;
    /* Đặt chữ lên trên hình ảnh */
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;




}

.banner-desc {
    width: 470px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    margin: 10px 0;
    font-weight: bold;
    font-size: 40px;
}

.banner-btn {
    display: inline-block;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #160f5f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.closee-button {
    position: absolute;
    top: 1px;
    right: 4px;
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;

}