





/*----------------------------------- Content --------------------------------*/
#section-content-1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
    padding-top: 15px;
    padding: 50px 0;
    justify-content: center;
}
.account-info-page {
    max-width: 95%;
    width: 100%;
    
    padding: 35px;
    background: linear-gradient(to right, #891f1f, #15283e);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
}

.account-info-page h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #f1f1f1;
    font-weight: bold;
}

.greeting {
    margin-bottom: 20px;
    color: #f1f1f1;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.recent-orders, .customer-info {
    width: 100%;
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.recent-orders {
    width: 65%;
}

.customer-info {
    width: 35%;
}

.recent-orders h2, .customer-info h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #ddd;
    
}

thead th{
    background: linear-gradient(to right, #891f1f, #15283e);
    color: #f1f1f1;
    font-weight: bold;

}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
}

tbody td {
    text-align: center;
    color: #000000;
}

.customer-info p {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    margin-bottom: 8px;
}

.customer-info p strong {
    margin-right: 8px;
    color: #15283e;
}
.customer-info button{
    padding: 5px;
    color: #06080a;
    border-radius: 5px;
}
.customer-info button:hover{
    background: linear-gradient(to right, #891f1f, #15283e);
    color: #ffffff;
}
/* Đảm bảo layout linh hoạt trên các thiết bị nhỏ hơn */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .recent-orders,
    .customer-info {
        width: 95%;
        margin-bottom: 15px;
    }

    .account-info-page {
        margin-left: 0;
        padding: 0;
        width:100%;
    }
}

